<!DOCTYPE html>
<html>

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-X9WD1PVF65"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-X9WD1PVF65');
  </script>

  <!-- Meta Tags -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description"
    content="Photify is a project which helps the user make DEVSOC themed masks as well as badges for the social media challenge." />
  <meta name="keywords"
    content="photify, maskon, badge, hackathon, vit, DEVSOC, codechef-vit, developers' sprint of code, tech, event, DEVSOC 21, hack, vellore-institute-of-technology, consilio, techchronicle, codex, design, code, india\'s biggest hack, best hack, huge cash prize, money, prizes" />
  <meta name="author" content="Jin Hyun Cheong, Sarthak Bharadwaj, Akshat Gupta, Muskan Rastogi" />
  <meta name="copyright" content="CodeChef-VIT" />
  <meta name="language" content="en" />
  <meta name="url" content="https://photify.codechefvit.com/mask_on_profile" />
  <meta name="category" content="Entertainment" />
  <meta name="coverage" content="Worldwide" />
  <meta name="rating" content="General" />
  <meta name="og:email" content="events@codechefvit.com" />
  <meta name="og:phone_number" content="+917014531554" />
  <meta name="og:country-name" content="India" />
  <meta name="og:region" content="Vellore" />
  <meta name="og:site_name" content="Put a #MaskOn | Photify" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Put a #MaskOn | Photify" />
  <meta property="og:description"
    content="Photify is a project which helps the user make DEVSOC themed masks as well as badges for the social media challenge." />
  <meta property="og:url" content="https://photify.codechefvit.com/mask_on_profile" />
  <meta property="og:site_name" content="Put a #MaskOn | Photify" />
  <meta name="twitter:card" content="website" />
  <meta name="twitter:site" content="Put a #MaskOn | Photify" />
  <meta name="twitter:title" content="Put a #MaskOn | Photify" />
  <meta name="twitter:description"
    content="Photify is a project which helps the user make DEVSOC themed masks as well as badges for the social media challenge." />
  <meta name="twitter:creator" content="@codechefvit" />
  <meta itemprop="name" content="Put a #MaskOn | Photify" />
  <meta itemprop="description"
    content="Photify is a project which helps the user make DEVSOC themed masks as well as badges for the social media challenge." />
  <link rel="canonical" href="https://photify.codechefvit.com/mask_on_profile" />
  <link href="images/favicon.png" rel="icon" />
  <link href="images/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Scripts -->
  <script src="js/face-api.js"></script>
  <script src="js/commons.js"></script>
  <script src="js/FileSaver.js"></script>
  <script src="js/dom-to-image.min.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <script src="js/imageSelectionControls.js"></script>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Linking styles -->
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!-- Title -->
  <title>Put a #MaskOn | Photify</title>

</head>

<body>
  <!-- Navbar -->
  <div id="navbar"></div>
  <div class="left-content page-container">
    <!-- Loader -->
    <div class="progress" id="loader">
      <div class="indeterminate"></div>
    </div>
    <div style="position: relative" class="margin">
      <!-- Mask display -->
      <div id="widget" style="width: 600px; height: auto;">
        <div id="maskdiv" style="width: 600px; margin: auto;"></div>
        <img id="inputImg" src="" style="width: 600px; height: auto;" />
      </div>
      <!-- Mask selection -->
      <img src="images/afuckingmask-no-earloops-black.png" id="mask"
        onclick="changemask('images/afuckingmask-no-earloops-black.png');;" style="width:10%;cursor: pointer;">
      <img src="images/skullmask.png" id="mask" onclick="changemask('images/skullmask.png');;"
        style="width:10%;cursor: pointer;">
      <!-- Mask controls -->
      <div class="row">
        <button class="waves-effect waves-light btn" onclick="zoomin_mask();">Zoom In</button>
        <button class="waves-effect waves-light btn" onclick="zoomout_mask();">Zoom Out</button>
        <button class="waves-effect waves-light btn" onclick="moveleft_mask();">&larr;</button>
        <button class="waves-effect waves-light btn" onclick="moveright_mask();">&rarr;</button>
        <button class="waves-effect waves-light btn" onclick="moveup_mask();">&uarr;</button>
        <button class="waves-effect waves-light btn" onclick="movedown_mask();">&darr;</button>
      </div>
      <div class="left-content">
        Paste a link to your photo or upload your image to put a #MaskOn.
        Choose from different masks.
        <p>
          <div class="row side-by-side" style="margin-left:0;">
            <label for="imgUrlInput">Get image from URL:</label>
            <input id="imgUrlInput" type="text" class="bold">
            <button class="waves-effect waves-light btn" onclick="loadImageFromUrl(); clearmask();">Ok</button>
            <div id="selectList" style='visibility: hidden;'></div>
          </div>
          <p>
            <input id="queryImgUploadInput" type="file" class="waves-effect btn bold"
              onchange="loadImageFromUpload(); clearmask();" accept=".jpg, .jpeg, .png">
      </div>
      <p>
        <input type="button" id="btnSave" class="waves-effect waves-light btn" value="Save your #maskon photo"
          onclick="downloadmaskpic();" />
      </p>

</body>

<script>
  let withBoxes = true

  function onChangeHideBoundingBoxes(e) {
    withBoxes = !$(e.target).prop('checked')
    updateResults()
  }

  async function updateResults() {
    if (!isFaceDetectionModelLoaded()) {
      return
    }

    const inputImgEl = $('#inputImg').get(0)
    const scale = inputImgEl.width / inputImgEl.naturalWidth
    const options = getFaceDetectorOptions()

    // Add handleImage
    const handleImage = (oldImage, newImage) => async () => {
      const results = await faceapi.detectAllFaces(newImage, options).withFaceLandmarks()
      for (let i in results) {
        const overlayValues = getOverlayValues(results[i])
        const maskoverlay = document.createElement("img")
        maskoverlay.src = document.getElementById("mask").src
        maskoverlay.id = "maskon"
        maskoverlay.class = "maskon"
        maskoverlay.width = `${overlayValues.width * scale}`
        maskoverlay.style.cssText = `
            position: absolute;
            left: ${overlayValues.leftOffset * scale}px;
            top: ${overlayValues.topOffset * scale}px;
            transform: rotate(${overlayValues.angle}deg);
          `
        var item = document.getElementById("maskdiv");
        item.appendChild(maskoverlay)
      }
    }

    const image = new Image();
    image.crossOrigin = "Anonymous";
    image.addEventListener("load", handleImage(inputImgEl, image));
    image.src = inputImgEl.src;
  }

  async function run() {
    // Load face detection and face landmark models
    await changeFaceDetector(SSD_MOBILENETV1)
    await faceapi.loadFaceLandmarkModel('/')
    await faceapi.nets.tinyFaceDetector.loadFromUri("/models"),
      await faceapi.nets.faceLandmark68TinyNet.loadFromUri("/models"),
      // Start processing image
      updateResults()
  }

  // Render navbar
  $(document).ready(function () {
    renderNavBar('#navbar', 'mask_on_profile')
    initImageSelectionControls()
    initFaceDetectionControls()
    run()
  })
</script>

<script>
  // Get face overlay values
  const getOverlayValues = result => {
    landmarks = result.landmarks
    boundingbox = result.alignedRect._box
    const nose = landmarks.getNose()
    const jawline = landmarks.getJawOutline()
    const jawLeft = jawline[0]
    const jawRight = jawline.splice(-1)[0]
    const adjacent = jawRight.x - jawLeft.x
    const opposite = jawRight.y - jawLeft.y
    const jawLength = boundingbox._width
    const angle = Math.atan2(opposite, adjacent) * (180 / Math.PI)
    const width = jawLength
    return {
      width,
      angle,
      leftOffset: nose[6].x - width / 2,
      topOffset: nose[0].y - width * .13,
    }
  }

  // Remove all masks
  function clearmask() {
    const myNode = document.getElementById("maskdiv");
    while (myNode.lastElementChild) {
      myNode.removeChild(myNode.lastElementChild);
    }
  };

  // Change mask
  function changemask(new_img_src) {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      tableChild.src = new_img_src;
    };
  };

  // Sleep
  function sleep(milliseconds) {
    const date = Date.now();
    let currentDate = null;
    do {
      currentDate = Date.now();
    } while (currentDate - date < milliseconds);
  }

  // Download mask pic
  function downloadmaskpic() {
    domtoimage.toJpeg(document.getElementById('widget'), { quality: 1.00 })
      .then(function (dataUrl) {
        var link = document.createElement('a');
        link.download = 'mask-on-profile.jpeg';
        link.href = dataUrl;
        link.click();
      });
  };

  // Zoom-in mask
  function zoomin_mask() {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      tableChild.width = tableChild.width * 1.05;
    };
  }

  // Zoom-out mask
  function zoomout_mask() {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      tableChild.width = tableChild.width * 0.95;
    };
  }

  // Move masks
  function moveleft_mask() {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      var left = parseFloat(tableChild.style.left) - 2;
      tableChild.style.left = `${left}px`;
    };
  }

  function moveright_mask() {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      var left = parseFloat(tableChild.style.left) + 2;
      tableChild.style.left = `${left}px`;
    };
  }

  function moveup_mask() {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      var top = parseFloat(tableChild.style.top) - 2;
      tableChild.style.top = `${top}px`;
    };
  }

  function movedown_mask() {
    const myNode = document.getElementById("maskdiv").children;
    for (var i = 0; i < myNode.length; i++) {
      var tableChild = myNode[i];
      var top = parseFloat(tableChild.style.top) + 2;
      tableChild.style.top = `${top}px`;
    };
  }
</script>

</body>

</html>